.area {
    display: flex;
    width: 80%;
    height: 400px;
    background-color: black;
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: center; 
    }
  
  .ship {
    width: 50px;
    height: 50px;
    position: absolute;
    /* top: 50%; */
    }
  
  .player-ship {
    background-color: rgb(100, 148, 204);
    left: 50px;
    bottom: 0;
  }
  
  .enemy-ship {
    background-color: red;
    right: 50px;
  }
  h1 {
    text-align: center;
    font-family: monospace;
    font-size: 70px;
  }

  .attack-button {
    display: block;
    margin: 0 auto;
    padding: 10px;
    font-family: monospace;
    font-size: 20px;
    background-color: brown;
    color: aliceblue;
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }